# venv
venv

# pycache
/I-504/__pycache__/*

# Cookie
/I-504/config/cookie/*

# data
/data
/db.sqlite3

# pychache
/I-504/__pycache__/*
/I-504/**/__pycache__/*

# Config
/I-504/config/source/*.yml
!/I-504/config/source/*_example.yml
/I-504/config/dest/*.yml
!/I-504/config/dest/*_example.yml
/I-504/config/*.yml
!/I-504/config/*_example.yml
